.wrapper{
    background-image: url('../../components/assets/images/walpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textWrapper {
    margin: auto;
    padding: 150px 0px 280px 0px;
}

.title h1 {
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    color: crimson;
    text-shadow: 1px 2px black;
}

.description {
    letter-spacing: 1.5px;
    line-height: 30px;
    font-style: oblique;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 64px;
    color: white;
}

.modal-content {
    background: #00000087;
    border: 2px solid crimson;
}

.modal-title.h4 {
    color: white;
}

label.form-label {
    color: white;
}
.closeIcon {
    margin-left: 252px;
  }

input.form-control.mb-3 {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffc107;
}

button.btn.shadow.memberShipButton {
    background: space;
    border: 2px solid #ed143d;
    color: initial;
    font-weight: 500;
    color: white;
}

button.btn.shadow.memberShipButton:hover {
    background: space;
    border: 2px solid #ffc107;
    font-weight: 500;
    color: #ed143d;
}

button.form-control.mb-2.btn.btn-primary {
    background: transparent;
}

span.popupText {
    color: white;
}

span.popupText a {
    text-decoration: none;
}