.loginwrapper{
    background-image: url('https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topSpace{
    margin-top: 60px;
    color:white;
}

.topSpaceLoginForm {
    margin: 190px 0px;
    background: transparent;
}

.topSpaceLoginForm input {
    border: none;
    background: transparent;
    border-bottom: 1px solid ghostwhite;
}

span.popupText a {
    text-decoration: none;
}